.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  nav.sidebar{
    width: clamp(280px,25vw, 350px);
    height:100%;
    background-color: rgb(233, 222, 206);
    color:black;
    flex-shrink: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  main {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
  }
}
.title{
  font-family: "Lora";
  font-weight: bold;
  color:#e7cdab;
}
.sub{
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.07em;
  max-width: 75ch;
}
.buttons{
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  max-width: calc(0.6 * 75ch);
}
