<div class="page">
  <nav class="sidebar" [@slideLeftFadeIn]>
    <app-player *ngFor="let player of players" [player]="player"></app-player>
  </nav>
  <main [@fade]>
    <h1 class="title">Dans la clairière</h1>
    <p class="sub">
      Vous êtes téléporté dans le Hall des Apprentis avec le magicien.
      Il semble que le premier arbre a été ensorcelé et Joseph s'est transformé en idée qui se diffuse comme un virus à
      travers les mondes reliés au premier arbre. Le consortium es grosses merdes a profité. Joseph attire les habitants
      endormis dans la clairière du premier arbre. Vous devez briser la malédiction de Joseph afin de sauver les habitants
      et de retourner chez vous. Votre père trouvera à ce moment-là le chemin de votre monde.
    </p>
    <div class="buttons">
      <button>Entrer</button>
      <button>Chercher la clé</button>
    </div>
  </main>
</div>
